//--------------------------------------------------------------
// Main Navigation — Desktop.
//--------------------------------------------------------------
.home {
	.main-navigation {
		@include span-columns(12);

		margin-top: 3rem;

		@include media($tablet-portrait) {
			margin-top: 0;
		}

		a:link, a {
			font-size: .8rem;
			text-transform: uppercase;
			font-weight: 300;

			&:hover {
				font-weight: 600;
				color: $color-white !important;
			}
		}
	}
}

.main-navigation {
	display: none;

	@include media($tablet-landscape) {
		display: block;
		padding: 2rem;
		@include span-columns(6);
	}

	// Menu area
	ul {
		display: none;

		@include media($phone) {
			display: block;
		}

		li {
			margin: 0 4rem 0 0;
			float: right;

			a:link, a {
				font-size: .8rem;
				text-transform: uppercase;
				font-weight: 300;

				&:hover {
					font-weight: 600;
					color: $color-blue !important;
				}
			}
		}
	} // ul

	&.toggled ul {
		display: block;
	} // &.toggled ul
} // .main-navigation

.home {
	.menu a {
		color: $color-white;
	}
}

//-----------------------------------------
// Dropdown.
//-----------------------------------------
.dropdown {
	position: relative;

	// Sub-menu
	ul {
		@include position(absolute, rem(24) null null -999em);

		box-shadow: 0 rem(3) rem(3) rgba($color-black, 0.2);
		float: left;
		z-index: 99999;

		// Sub-sub menu
		ul {
			left: -999em;
			top: 0;
		} // ul

		// Sub-menu items
		li {
			width: 100%;

			&:hover > ul,
			&.focus > ul {
				left: 100%;
			} // &:hover > ul, &.focus > ul
		} // li

		// Sub-menu links
		a {
			@include size(100% auto);

			min-width: rem(200);
		} // a

		// sass-lint:disable no-qualifying-elements
		&:hover > a,
		.focus > a {

		} // &:hover > a, .focus > a

		a:hover,
		a.focus {

		} // a:hover, a.focus
		// sass-lint:enable no-qualifying-elements
	} // ul

	// Display sub-menu on hover
	li:hover > ul,
	.focus > ul {
		left: auto;
	} // li:hover > ul, .focus > ul

	// Menu items
	li {
		float: left;
		position: relative;

		&:hover > a,
		&.focus > a {
			
		} // &:hover > a, &.focus > a
	} // li
} // &.dropdown