//--------------------------------------------------------------
// Buttons
//--------------------------------------------------------------

button,
.button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
	appearance: none;
	background-color: $color-button-background;
	border: none;
	border-radius: $border-radius-max;
	border-width: 0;
	color: $color-button-text;
	line-height: 1.5;
	margin: 0;
	padding: $padding-input $padding-input*4;
	text-transform: uppercase;
	font-weight: 300;
	transition: $transition-all;

	// IE 11 helper.
	.ie & {
		height: rem(35);
	} // .ie &

	&:hover {
		transition: $transition-all;
		background-color: $color-button-background-hover;
	} // &:hover

	&:active,
	&:focus {
		transition: $transition-all;
		background-color: $color-button-background-hover;
	} // &:active, &:focus
} // button, input[type="button"], input[type="reset"], input[type="submit"]


button.button-hero,
.button.button-hero,
input[type='button'].button-hero,
input[type='reset'].button-hero,
input[type='submit'].button-hero {
	background-color: $color-transparent;
	border: 2px solid $color-white;

	&:hover {
		background-color: $color-white;
		color: $color-black;
	} // &:hover

	&:active,
	&:focus {
		color: $color-black;
		background-color: $color-white;
	}
}

.admin-bar .off-canvas-open {
	z-index: 1000;
}

.home {
	.hamburger, .hamburger:after, .hamburger:before {
		background: $color-white !important;
	}
}

.cta-button {
	color: $color-black;
	border: solid 3px transparent;
	background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
	background-origin: border-box;
	background-clip: content-box, border-box;
	box-shadow: 2px 1000px 1px #fff inset;

	&:hover {
		box-shadow: none;
		color: $color-white;
	}
}