//--------------------------------------------------------------
// Card
//--------------------------------------------------------------
.card {
	margin-bottom: $gutter * 2;
	text-align: center;

	@include media($tablet-portrait) {
		text-align: left;
	}

	// Card images.
	img.attachment-archive_thumbnail {
		width: 100%;
	} // img

	.featured-image {
		margin: 0 -.6rem;
	}
} // .card
