//--------------------------------------------------------------
// Footer
//--------------------------------------------------------------

.site-footer {
	background: $color-whitesmoke;
}
.site-info {
	text-align: center;
	font-weight: 300;
	display: flex; 
	justify-content: space-between;
	align-items: center;
} // .site-info
