//--------------------------------------------------------------
// Hero Block
//--------------------------------------------------------------
.hero {
	margin-bottom: 0;
	overflow-y: hidden;
	position: relative;

	.wrap {
		text-align: left;
		@include span-columns(10);
		@include shift(1);
		margin-top: 8rem;

		@include media($tablet-portrait) {
			@include span-columns(8);
			@include shift(2);
			margin-top: 5rem;
		}	

		@include media($tablet-landscape) {
			margin-top: 10rem;
		}

		@include media($desktop) {
			@include span-columns(6);
			@include shift(3);
		}
	}

	// Content container.
	&-content {
		// @include span-columns(12);
		align-items: center;
		display: block;
		flex-direction: column;
		justify-content: center;
		margin: 0 auto;
		min-height: 38.8rem; // height of hero.
		position: relative;
		text-align: center;
		z-index: 3;

		.hero-title {
			font-weight: 200;
			font-size: 2rem;
			line-height: 6rem;
			margin: 0;
			padding-bottom: 1rem;
			color: $color-white;
			//background: url(assets/images/svg/Amethyst.svg) center no-repeat;

			.first-word {
				font-weight: 600;
				box-shadow: 0 0.3rem 0;
			}
			
			@include media($tablet-portrait) {
				font-size: 4rem;
			}
		}

		button.button-hero,
		.button.button-hero,
		input[type='button'].button-hero,
		input[type='reset'].button-hero,
		input[type='submit'].button-hero {
			
		}

		.button-wrap {
			@include span-columns(12);

			position: relative;	
			top: 2rem;		

			@include media($tablet-portrait) {
				top: 2rem;
			}
		}
	} // .hero-content

	// Add padding to description.
	&-description {
		padding-bottom: 1rem;
		font-size: 1.4rem;
		line-height: 2.5rem;
		font-weight: 300;
		margin: 0 ;

		@include media($tablet-portrait) {
			font-size: 2rem;
		}
	} // .hero-description

	&-description-2 {
		font-size: 1.2rem;
	}
} // .hero

.gradient-purple-blue {
	background: linear-gradient(203deg, $color-blue, $color-purple);
	.hero-content {
		//background: url('assets/images/AmethystOutline.png') no-repeat center;
	}

	@include media($tablet-portrait) {
		background: linear-gradient(237deg, $color-blue, $color-purple);
	} // background gradient
} // .gradient-purple-blue

//-----------------------------------------
// IE Fixes
//-----------------------------------------
.ie .hero {

	// IE seems to have some width issues with flexbox,
	// the text is rendered wider than its container
	// and doesn't wrap. This fixes that.
	.hero-title,
	.hero-description {
		width: 100%;
	} // .hero-title, .hero-description

	// IE11 doesn't do centering with just a min-height,
	// need to set a specific height instead.
	.hero-content {
		@include media($tablet-portrait) {
			height: rem(500); // height of hero.
		}
	} // .hero-content
} // .ie .hero