//--------------------------------------------------------------
// Icon And Text
//--------------------------------------------------------------

.icon-and-text {
    padding: 1rem 0;
    background: url('assets/images/svg/BG.svg') no-repeat;
    background-position-y: -3rem;
    padding: 3rem 0 3rem;

    @include media($tablet-portrait) {
        background-position-x: center;
    }

    &-title {
        font-size: 2rem;
        line-height: 6rem;
        color: $color-black;
        font-weight: 400;
    }

    &-header, .button-container {
        @include span-columns(10);
        @include shift(1);

        @include media($tablet-portrait) {
            @include span-columns(6);
            @include shift(3);
        }
    }

    .button-container {
        display: flex !important;
        justify-content: center;
    }

    &-wrap {
        @include span-columns(6);
        @include shift(3);
        padding: 2rem 0rem;

        .cell {
            @include media($tablet-portrait) {
               // @include omega(2);
                @include span-columns(3);
            }
        }
    }

    &-repeater {
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        margin-bottom: 2rem;

        .text {
            color: $color-gray-alt;
            font-weight: 300;
            text-transform: uppercase;
            font-size: 1.5rem;

            @include media($tablet-portrait) {
                font-size: 1rem;
            }
        }

        img {
            margin-bottom: 1rem;
        }
    }
} // .icon-and-text