//--------------------------------------------------------------
// Icon Title And Description
//--------------------------------------------------------------
.gradient-blue-pink {
    background-image: linear-gradient(to bottom, #5b6dc4, #ca5b80);
}

.icon-title-and-description {
    padding: 1rem 0;
    color: $color-white;

    @include media($tablet-portrait) {
        padding: 3rem 0 1rem;
    }

    &-title {
        font-size: 2rem;
        color: $color-white;
        line-height: 6rem;
    }

    &-header {
        @include span-columns(10);
        @include shift(1);

        @include media($tablet-portrait) {
            @include span-columns(6);
            @include shift(3);
        }
    }

    &-wrap {
        @include span-columns(10);
        @include shift(1);
        //padding: 2rem 0rem;

        @include media($tablet-portrait) {
            @include span-columns(6);
            @include shift(3);
        }

        .cell {
            @include media($tablet-portrait) {
               // @include omega(2);
                @include span-columns(12);
            }
        }
    }

    &-unit {
        margin-bottom: 2rem;

        img {
            margin-right: .6em;
        }

        .icon-title {
            font-weight: 300;
            text-transform: uppercase;
            font-size: 1.5rem;
            font-style: normal;
            font-stretch: normal;
            line-height: 0.83;
            letter-spacing: 3.6px;

            @include media($tablet-portrait) {
            }
        }

        span.description {
            font-weight: 300;
            display: block !important;
        }
    }

    &-unit:last-child {
        margin: none !important;
    }
}