//--------------------------------------------------------------
// Blog
//--------------------------------------------------------------

.cat {
    font-weight: 600;
    font-family: $font-serif;
    font-size: .8rem;
    text-transform: uppercase;
    color: $color-gray-alt;
    display: block;

    &-light-blue { color: $color-light-blue; }

    &-blue { color: $color-blue; }

    &-indigo { color: $color-indigo; }

    &-purple { color: $color-purple; }

    &-pink { color: $color-pink; }

    &-dark-blue { color: $color-dark-blue; }

    &-bright-purple { color: $color-bright-purple; }

    &-magenta { color: $color-magenta; }
} // .cat

.author {
    display: flex;
    align-items: center;
    width: auto;

    img.avatar {
        border-radius: $border-radius-max ;
        box-shadow: 0px 3px 10px $color-gray-alt;
        margin-right: .6rem;
    } // img.avatar

    &-by-line {
        margin-right: .4rem;
    } // .author-by-line

    &-name {
        text-transform: capitalize;
    } // .author-name
} // .author