//--------------------------------------------------------------
// Blog Feed
//--------------------------------------------------------------

.hfeed .site-main, .grid-x {
    @include span-columns(12);
    @include omega();
}

.hfeed article.hentry.card, .recent-posts .grid-x .card {
    @include media($tablet-landscape) {
        @include span-columns(4);
        @include omega();

        height: 560px !important;

    }

    @include span-columns(12);
    @include pad(1rem);

    text-align: left;

    .featured-image, .card-image {
        box-shadow: 0px 3px 15px $color-silver-chalice;
        border-radius: $border-radius-medium;
        overflow: hidden;

        a { 
            display: block;
            line-height: 0;
        }
    } // .featured-image

    span.cat {
        margin: 1rem 0 .6rem;
    } // .category

    .entry-title, .card-title {
        font-size: 1.2rem;
        margin: 0;
        text-transform: capitalize;

        a {
            color: $color-black;

            &:hover { color: $color-tundora; }
            &:active { color: $color-tundora; }
            &:visited { color: $color-dove-gray; }
        }
    } // .entry-title

    .entry-content, .card-text {
        margin: .6rem 0 1rem;
        color: $color-gray-alt;

        p { margin: 0; }
    } // .entry-content

    .author {
        color: $color-silver-chalice;
    }
} // article.hentry 