//--------------------------------------------------------------
// Homepage Template
//--------------------------------------------------------------

.home {
    .site-header {
        position: absolute;

        @include media($tablet-landscape) {
            position: absolute;
            z-index: 100;
        }
    } // .site-header

    .site-branding {
        display: none;
    } // .site-branding

    .site-content {
        margin: 0;
        position: relative;
        //top: 3.5rem;
        
        @include media($tablet-portrait) {
            top: 0;
        } 
    } // .site-content
} // .home