//--------------------------------------------------------------
// Global Link Styles
//--------------------------------------------------------------

a {
	color: $color-link;
	transition: $transition-all;
	text-decoration: none;

	&:visited {
		color: $color-link-visited;
	} // &:visited

	&:hover,
	&:focus,
	&:active {
		transition: $transition-all;
		color: #a9cbff;
	} // &:hover, &:focus, &:active
} // a

time.entry-date.published.updated {
	&:hover,
	&:focus,
	&:active {
		transition: $transition-all;
		color: #a9cbff;
	}
}

span.edit-link {
    display: none;
}
