//--------------------------------------------------------------
// Typography
//--------------------------------------------------------------

body,
button,
input,
select,
textarea {
	color: $color-text-main;
	font-family: $font-sans;
	line-height: $line-height-body;
} // body, button, input, select, textarea

//--------------------------------------------------------------
// Headers
//--------------------------------------------------------------

// Global Header Resets.
@for $i from 1 through 6 {
	h#{$i} {
		margin-top: 1rem;
		margin-bottom: 1rem;
	} // h#{$i}
} // end @for

h1,
.h1 {
	font-weight: 500;
	font-size: 3rem;
	line-height: 3rem;
	color: $color-blue;
} // h1, .h1

h2,
.h2 {
	font-weight: 500;
	font-size: 2.6rem;
	line-height: 2.6rem;
	color: $color-purple;
} // h2, .h2

h3,
.h3 {
	font-weight: 500;
	font-size: 2.2rem;
	line-height: 2.2rem;
	color: $color-bright-purple;
} // h3, .h3

h4,
.h4 {
	font-weight: 500;
	font-size: 1.8rem;
	line-height: 1.8rem;
	color: $color-magenta;
} // h4, .h4

h5,
.h5 {
	font-weight: 600;
	font-size: 1.4rem;
	line-height: 1.4rem;
	color: $color-pink;
}  // h5, .h5

h6,
.h6 {
	font-weight: 700;
	font-size: 1rem;
	line-height: 1rem;
} // h6, .h6

//--------------------------------------------------------------
// Copy
//--------------------------------------------------------------

h1.entry-title {
	color: $color-indigo;
	font-size: 4rem;
	line-height: 4.8rem;
}

p {
	margin: 0 0 rem(24) 0;
	line-height: 1.5rem;
	font-size: 1rem;

	@include media($tablet-portrait) {
	}

	@include media($desktop) {
	}
} // p

b,
strong {
	font-weight: 700;
} // b, strong

dfn,
cite,
em,
i {
	font-style: italic;
} // dfn, cite, em, i

blockquote,
q {
	margin: 0 rem(24);
	quotes: '" "';

	&::before,
	&::after {
		content: '';
	}  // &::before, &::after
} // blockquote, q

address {
	margin: 0 0 rem(24) 0;
} // address

pre {
	background-color: $color-gallery;
	color: $color-cod-gray;
	font-family: $font-pre;
	font-size: rem(13);
	line-height: $line-height-pre;
	margin: 0 0 rem(24) rem(-24);
	overflow: auto;
	padding: rem(24);
	white-space: pre;
	word-break: normal;
	word-wrap: normal;
} // pre

code,
kbd,
tt,
var {
	font-family: $font-code;
	font-size: rem(15);
} // code, kbd, tt, var

code {
	color: $color-magenta;
	background: $color-gallery;
	display: block;
	padding: .6rem;
	border-radius: 0.4rem;
}

abbr,
acronym {
	border-bottom: 1px dotted $color-border-abbr;
	cursor: help;
} // abbr, acronym

mark,
ins {
	text-decoration: none;
} // mark, ins

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
} // sup, sub

sup {
	bottom: 1ex;
} // sup

sub {
	top: 0.5ex;
} // sub

small {
	font-size: 75%;
} // small

big {
	font-size: 125%;
} // big

// Word Wrapping
.entry-title,
.entry-content,
.comments-title,
.comment-content,
.widget-title,
.widget {
	@include word-break;
} // .entry-title, .entry-content, .comments-title, .comment-content, .widget-title, .widget

//--------------------------------------------------------------
// Accents
//--------------------------------------------------------------

.first-word-dark {
    font-weight: 600;
    box-shadow: 0rem 0.3rem 0rem $color-black;
}

.first-word-light {
    font-weight: 600;
    box-shadow: 0rem 0.3rem 0rem $color-white;
}