//--------------------------------------------------------------
// TRANSITIONS
//--------------------------------------------------------------

////
/// @group variables
/// @author WebDevStudios
////

/// Opacity transition.
$transition-opacity: opacity 0.5s ease;

/// Border transition
$transition-border: border 0.2s ease-in-out;

/// All transitions. Use only in emergencies!
$transition-all: all .2s ease-out;

/// Transform transitions.
$transition-transform: transform 0.5s ease-in-out;

/// Transform Hamburger
$transition-hamburger: transform 0.5s, background-color 0.3s ease-in-out;
