//--------------------------------------------------------------
// Widgets
//--------------------------------------------------------------

.widget {
	margin: 0 0 rem(24);
	overflow: auto;

	// Make sure select elements fit in widgets.
	select {
		max-width: 100%;
	} // select

	// Extend the h3 style for the widget titles.
	// .widget-title {
	// 	@extend .h3 !optional;
	// } // .widget-title

	.widget-title {
		font-size: 1.2rem;
		line-height: 2rem;
	}

	p {
		font-size: 1.6rem;
		line-height: 2rem; 
	}

	&-highlight {
		background: $color-light-purple;
		padding: 1rem;
		border: 1px solid $color-purple;

		@include media($tablet-landscape) {
			padding: 2rem;
		} 
	}
} // .widget

// Search widget.
.widget_search .search-submit {
	display: none;
} // .widget_search .search-submit


// Sponsor
.sponsor {
	img {
		box-shadow: 0px 3px 15px $color-silver-chalice;
        border-radius: $border-radius-medium;
	}

	.wp-caption-text {
		text-align: left;
	}
}